@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Outfit', sans-serif !important;
}

.xo-menu {
  @apply flex justify-center w-1/2 p-3 rounded-xl;
}

.xo-menu.active {
  @apply text-cd-navy bg-cl-silver;
}

.xo-menu.inactive {
  @apply text-cl-silver hover:bg-cd-semi-navy;
}

@media (max-width: 500px) {
  .text-heading-l {
    font-size: 1.125rem;
    letter-spacing: 0.15625rem;
    font-weight: 700;
    line-height: 2.375rem;
}

.text-heading-m {
    font-size: 1.125rem;
    letter-spacing: 0.09375rem;
    font-weight: 700;
    line-height: 1.40625rem;
}

.text-heading-s {
    font-size: 0.9375rem;
    letter-spacing: 0.078125rem;
    font-weight: 700;
    line-height: 1.125rem;
}

.text-heading-xs {
    font-size: 0.75rem;
    letter-spacing: 0.0625rem;
    font-weight: 700;
    line-height: 0.9375rem;
}

}

@media (max-width: 350px) {
  .text-heading-l {
    font-size: 1rem; /* adjust as needed */
  }

  .text-heading-m {
    font-size: 1rem; /* adjust as needed */
  }

  .text-heading-s {
    font-size: 0.875rem; /* adjust as needed */
  }

  .text-heading-xs {
    font-size: 0.625rem; /* adjust as needed */
  }
}